body {
    padding-top: 100px;
}

.page-content {
    min-height: 100vh;
}

.page-footer {
    margin-top: 1em;
    padding: 1em 0;
    background-color: #4E5D6C;
}

ul.badges {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul.badges > li {
    margin-right: 0.5em;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.goal {
    margin: 0.5em 0;
    font-size: 1.5em;
}

.progress {
    margin-bottom: 1em;
}
