{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <main class="page-content">
        <div class="container">
            <h1>{{ category.name }}</h1>
            <p>Il y a 3 projets dans cette catégorie :</p>
            <div class="row">
                {% for category in categories %}
                <article class="col-4">
                    <div class="card">
                        <img src="{{ asset('uploads/' ~ project.image) }}" class="card-img-top"
                             alt="{{ project.name }}">
                        <div class="card-body">
                            <h5 class="card-title">Good Girl</h5>
                            <ul class="badges">
                                <li><a href="category.html" class="badge badge-pill badge-primary">Film</a></li>
                            </ul>
                            <p class="card-text">Ce film parle de ...</p>
                            <a href="project.html" class="btn btn-primary">
                                <i class="fa fa-eye"></i>
                                Voir plus
                            </a>
                        </div>
                    </div>
                </article>
                {% endfor %}

            </div>
        </div>
    </main>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
