<div class="dropdown-menu" aria-labelledby="download">
    {% for category in categories %}
        <a class="dropdown-item" href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
    {% endfor %}
</div>
