<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <header class="page-header ">
        <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container">
                <a href="index.html" class="navbar-brand">Fund My Project ...</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Les Projets</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Catégories <span class="caret"></span></a>
                            <div class="dropdown-menu" aria-labelledby="download">
                                <a class="dropdown-item" href="category.html">Sport</a>
                                <a class="dropdown-item" href="category.html">Musique</a>
                                <a class="dropdown-item" href="category.html">Film</a>
                                <a class="dropdown-item" href="category.html">Jeux</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">
                                <i class="fa fa-sign-in"></i>
                                Me connecter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>



        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>

    <footer class="page-footer">
        <div class="container">
            <i class="fa fa-copyright"></i> Fund My Project 2020
        </div>
    </footer>
</html>
