<article class="project-thumbnail">
    <img src={{ asset('uploads/' ~ project.image  ) }}>
    <h1>{{ project.name }}</h1>
    <p class="projets-category">
        {% for projects in project %}
        <span>{{ project.name }}</span>
        {% endfor %}
    <ul class="badges">
        <li><a href="{{ path('category_index') }}" class="badge badge-pill badge-primary">Film</a></li>
    </ul>
    </p>
<div></div>



</article>