<article class="project-thumbnail">
    <img src="{{ asset('uploads/' ~ doctor.image  ) }}" alt="">
    <h1>{{ project.name }}</h1>
    <p class="projets-category">
        {% for categories in project.category %}
        <span>{{ category.name }}</span>
        {% endfor %}
    <ul class="badges">
        <li><a href="category.html" class="badge badge-pill badge-primary">Film</a></li>
    </ul>
    </p>
<div></div>






                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet at aut blanditiis corporis culpa deleniti dignissimos eos ex facilis inventore iusto laudantium odit, quibusdam rerum, sapiente sequi temporibus.</p>
            </div>
        </div>
        <div class="goal">Objectif : 5500€</div>
        <div class="progress">
            <div class="progress-bar bg-info" style="width: 18%">1000€</div>
        </div>
        <form>
            <div class="form-group">
                <input type="number" value="10" placeholder="Montant">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-money"></i>
                    Je donne !
                </button>
            </div>
        </form>
    </div>
    </main>
    
</article>